/* soft reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    font-size: 1em;
  }

@media (max-width: 560px) {
  body {
    width: 100vw;
  }
}

  .site-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
    line-height: 0.8em;
  }
  
  .site-subtitle {
    color: #808080;
    line-height: 1.8em;
  }

.vbs {
  cursor: default;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  z-index: 1;
  color: black;
  display: block;
  padding: 16px 10px;
  font-weight: bold;
  font-size: 1em;
}

@media (max-width: 560px) {
  .menu {
    display: none;
  }
}

.menu a {
  color: #808080;
  display: block;
  padding: 2px 10px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s, border-bottom 0.2s;
  font-size: 0.8em;
}

.menu a:active,
.menu a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid black;
}


.topnav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  display: block;
  width: 100vw;
  top: 0;
  z-index: 1;
}

@media (min-width: 560px) {
  .topnav {
    display: none;
  }
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  display: block;
  transition: color 0.2s, background-color 0.2s;
}

.topnav p {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12pt;
  font-weight: bold;
  display: block;
}

.topnav a.icon {
  background: rgba(255, 255, 255, 0);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  color: black;
}


  .sumario {
    padding-top: 100px;
    margin-left: 5vw;
    margin-right: 5vw;
    min-height: 100vh;
  }

  .sumario-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: minmax(200px, 200px);
    margin-top: 18vh;
    margin-bottom: 28vh;
    padding: 10px;
    align-items: center;
    justify-items: center;
  }

  @media (max-width: 1000px){

    .sumario {
      padding-top: 50px;
    }

    .sumario-grid{
      grid-template-columns: auto auto;
      grid-template-rows: minmax(200px, 200px);
      margin-top: 6vh;
      margin-bottom: 10vh;
    }

  }

  .sumario-icone {
    text-align: center;
    opacity: 0.4;
    transition: opacity 0.5s;
  }

  .sumario-legenda {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .sumario-icone:hover {
    opacity: 1;
  }

  .sumario-icone:hover ~ .sumario-legenda {
    opacity: 1;
  }

  .centro1,
  .pavilhao1 {
    width: calc(0.8*200px);
    height: auto;
    padding: 10px;
  }

  .moradia1,
  .bagulho1 {
    width: auto;
    height: calc(0.8*100px);
    padding: 10px;
  }

  .viaduto1 {
    width: calc(0.8*250px);
    height: auto;
    padding: 10px;
  }

  .designios1 {
    width: calc(0.8*100px);
    height: auto;
    padding: 10px;
  }

  @media (max-width: 560px) {
  
    .centro1,
    .pavilhao1 {
      width: calc(0.6*200px);
    }
  
    .moradia1,
    .bagulho1 {
      height: calc(0.6*100px);
    }
  
    .viaduto1 {
      width: calc(0.6*250px);
    }
  
    .designios1 {
      width: calc(0.6*100px);
    }

  }

  .seta {
    display: block;
    width: 25px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 800px) {
    .seta {
      display: none;
    }
  }


  .centro,
  .pavilhao,
  .moradia,
  .viaduto,
  .bagulho,
  .designios,
  .sobre,
  .curriculo,
  .habilidades,
  .contato {
    padding-top: 9vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 40px;
    min-height: 100vh;
  }

  @media (max-width: 560px) {
    .centro,
    .pavilhao,
    .moradia,
    .viaduto,
    .bagulho,
    .designios,
    .sobre,
    .curriculo,
    .habilidades,
    .contato {
      padding-top: 9vh;
      margin-left: 2vw;
      margin-right: 2vw;
      padding-bottom: 40px;
      min-height: 0;
      width: 96vw;
    }
  }

  .centro h3,
  .pavilhao h3,
  .moradia h3,
  .viaduto h3,
  .bagulho h3,
  .designios h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }

  .centro2,
  .pavilhao2 {
    display: block;
    width: calc(0.4*200px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .moradia2,
  .bagulho2 {
    display: block;
    width: auto;
    height: calc(0.4*100px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .viaduto2 {
    display: block;
    width: calc(0.4*250px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .designios2 {
    display: block;
    width: calc(0.4*100px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }


  .botao {
    cursor: pointer;
    text-align: right;
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: lighter;
    color: black;
    opacity: 0.4;
    transition: opacity 0.5s;
  }

  .botao:hover {
    opacity: 1;
  }

    .button  {
        background-color: black;
        height: 30px;
        line-height: 15%;
        padding:0 40px;
        font: normal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: 0px;
        border-radius: 30px;
    }
    .button a {
        color: black;
        transition: color 0.2s;
        opacity: 1.0;
    }
     .button:hover {
        opacity: 0.6;
    }

  .info-conteudo {
    margin-bottom: 50px;
  }

  .descricao {
    color: black;
    font-size: 0.9em;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: auto;
  }

  .ficha {
    color: black;
    font-size: 0.9em;
    margin-top: 30px;
    text-align: justify;
    text-justify: auto;
  }

  .hidden>div {
    display:none;
  }
  
  .visible>div {
    display:block;
  }


  .img-grid-dupla {
    width: 33vw;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
  }

  .img-grid-unica {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 68.4vw;
    height: auto;
    align-items: center;
    justify-items: center;
  }


  @media (max-width: 560px) {
    .img-grid-dupla {
      width: 46vw;
      height: auto;
      margin-bottom: 20px;
      align-items: center;
      justify-items: center;
    }
  
    .img-grid-unica {
      margin-top: 0px;
      margin-bottom: 20px;
      width: 96vw;
      height: auto;
      align-items: center;
      justify-items: center;
    }
  }



  .centro-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    padding: 0px;
    align-items: center;
    justify-items: center;
  }


  .pavilhao-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    padding: 0px;
    align-items: center;
    justify-items: center;
  }

  .bagulho-grid {
    display: grid;
    grid-gap: 1vw;
    column-gap: 1vw;
    grid-template-columns: auto auto auto auto;
    padding: 0px;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
      ". v1 h2 h3"
      ". v1 . ."
      "h1 v1 v2 ."
      ". . v2 ."
      ". v3 v2 h4"
      ". v3 . h5"
      ". v3 v4 ."
      "h6 . v4 ."
      "h7 . v4 h8"
  }

  .bagulho-h1 {
    grid-area: h1;
  }

  .bagulho-h2 {
    grid-area: h2;
  }

  .bagulho-h3 {
    grid-area: h3;
  }

  .bagulho-h4 {
    grid-area: h4;
  }

  .bagulho-h5 {
    grid-area: h5;
  }

  .bagulho-h6 {
    grid-area: h6;
  }

  .bagulho-h7 {
    grid-area: h7;
  }

  .bagulho-h8 {
    grid-area: h8;
  }

  .bagulho-v1 {
    grid-area: v1;
  }

  .bagulho-v2 {
    grid-area: v2;
  }

  .bagulho-v3 {
    grid-area: v3;
  }

  .bagulho-v4 {
    grid-area: v4;
  }

  .bagulho-h1,
  .bagulho-h2,
  .bagulho-h3,
  .bagulho-h4,
  .bagulho-h5,
  .bagulho-h6,
  .bagulho-h7,
  .bagulho-h8,
  .bagulho-v1,
  .bagulho-v2,
  .bagulho-v3,
  .bagulho-v4 {
    width: 16vw;
    height: auto;
  }

  @media (max-width: 560px) {
    .bagulho-h1,
    .bagulho-h2,
    .bagulho-h3,
    .bagulho-h4,
    .bagulho-h5,
    .bagulho-h6,
    .bagulho-h7,
    .bagulho-h8,
    .bagulho-v1,
    .bagulho-v2,
    .bagulho-v3,
    .bagulho-v4 {
      width: 22vw;
      height: auto;
    }
  }


  .designios-grid {
    display: grid;
    column-gap: 5vw;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    ". de d1"
    "d2 de d1"
    "d2 de d1"
    "d2 de d1"
    "d2 de d3"
    "d2 de d3"
    "d2 de d3"
    "d2 de d3"
    ". . d3"
    "dp dp d3"
    "dp dp d4"
    ". . d4"
    "d5 db d4"
    "d5 db d4"
    "d5 db d4"
    "d5 db d4"
    ". db ."
    ". db d6"
    "d7 db d6"
    "d7 db d6"
    "d7 db d6"
    "d7 db ."
    ;
    margin-bottom: 200px;
  }

  .designios-1 {
    grid-area: d1;
  }

  .designios-2 {
    grid-area: d2;
  }

  .designios-3 {
    grid-area: d3;
  }

  .designios-4 {
    grid-area: d4;
  }

  .designios-5 {
    grid-area: d5;
  }

  .designios-6 {
    grid-area: d6;
  }

  .designios-7 {
    grid-area: d7;
  }

  .designios-estante {
    grid-area: de;
  }

  .designios-prateleira {
    grid-area: dp;
  }

  .designios-bolsa {
    grid-area: db;
  }

  .designios-1,
  .designios-2,
  .designios-3,
  .designios-4,
  .designios-5,
  .designios-6,
  .designios-7,
  .designios-estante,
  .designios-bolsa {
    width: 20vw;
    height: auto;
  }

  .designios-prateleira {
    width: 44vw;
    height: auto;
  }

  @media (max-width: 560px) {

    .designios-grid {
      margin-bottom: 100px;
    }
    
    .designios-1,
    .designios-2,
    .designios-3,
    .designios-4,
    .designios-5,
    .designios-6,
    .designios-7,
    .designios-estante,
    .designios-bolsa {
      width: 28vw;
      height: auto;
    }
  
    .designios-prateleira {
      width: 60vw;
      height: auto;
    }

  }


  .sobre h2,
  .curriculo h2,
  .habilidades h2,
  .contato h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    color: black;
  }

  .sobre-conteudo {
    margin-top: 10vh;
  }

  .sobre .avatar {
    margin-top: 4em;
    margin-bottom: 2em;
  }
  
  .sobre figure{
    text-align: center;
  }
  
  .sobre .avatar img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .sobre p{
    margin-left: 15vw;
    margin-right: 15vw;
    color: black;
    line-height: 1.4em;
    text-align: justify;
    text-justify: auto;
  }
  
  @media (max-width: 1000px) {
    .sobre p{
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (max-width: 560px) {
    .sobre .avatar img{
      height: 100px;
      width: 100px;
    }
  }


  .curriculo-grid {
    margin-top: 4vh;;
    display: grid;
    grid-template-columns: 14vw 30vw 22vw;
    gap: 20px;
  }

  @media (max-width: 560px) {
    .curriculo-grid {
      grid-template-columns: 22vw 30vw 14vw;
    }
  }

  .normal {
    font-size: 0.9em;
    line-height: 1.2em;
  }

  .bold {
    font-size: 0.7em;
    line-height: 1.2em;
    font-weight: bold;
  }


  .img-habilidades {
    display: block;
    height: 70vh;
    margin-top: 10vh;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 1000px) {
    .img-habilidades {
      width: 70vw;
      height: auto;
    }
  }


  .contato-conteudo{
    margin-top: 25vh;
  }

  .contato p{
    text-align: center;
    line-height: 2em;
  }

  .contato a{
    color: black;
    opacity: 0.4;
    font-size: 1.6em;
    padding: 0.8em;
    transition: opacity 0.5s;
    text-align: center;
    text-decoration: none;
  }

  .contato a:active,
  .contato a:hover{
    text-decoration: none;
    opacity: 1;
    font-size: 1.6em;
  }

  .contato .grid{
    gap: 6em;
    justify-content: center;
    text-align: center;
    line-height: 10em;
  }
